/* Default style for large screens */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  width: 650px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex: 1;
  padding-block: 3rem;
  padding-inline: 1.5rem;
  height: 100%;
}

section img {
  width: 75px;
}

.sedans {
  border: 1px solid orange;
  background-color: orange;
}

.suvs {
  border: 1px solid darkcyan;
  background-color: darkcyan;
}

.luxury {
  border: 1px solid #245953;
  background-color: #245953;
}

.name {
  font-family: cursive;
  color: white;
  font-size: 1.2rem;
}

.paragraph {
  font-size: 14px;
  color: beige;
}

.parent button {
  margin-top: 30px;
  width: fit;
  padding: 0.5rem 1rem;
  border: 1px solid white;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
}

.sedans button {
  color: orange;
}

.suvs button {
  color: darkcyan;
}

.luxury button {
  color: #245953;
}

.sedans button:hover {
  background-color: orange;
  color: white;
}

.suvs button:hover {
  background-color: darkcyan;
  color: white;
}

.luxury button:hover {
  background-color: #245953;
  color: white;
}

@media (max-width: 768px) {
  body {
    height: auto;
  }

  .parent {
    flex-direction: column;
    width: 90%;
    height: auto;
    margin-inline: auto;
    padding-block: 2rem;
  }
}
